.mainContainer {
  text-align: center;
  align-items: center;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 10px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  text-align: center;
}

.buttonContainer button {
  width: 45px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
}

.buttonContainer button:hover {
  color: gray;
  transform: scale(1.2);
  transition: ease-in-out;
  color: white;

}